:root {
  --black: rgb(0, 28, 18);
  --white: white;
  --blue: rgb(39, 39, 230);
  --dark-blue: rgb(18, 18, 151);
  --grey: rgb(117, 117, 121);

  --transition-timing: 0.3s;
}

body {
  background-color: var(--white);
  line-height: 1.5;
  padding: 1rem 1rem 2rem 1rem;
}

form {
  width: 100%;
}

input, label, textarea, button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

input, textarea, button {
  font-size: 1rem;
}

input[type="checkbox"],
label[for="permission"] {
  display: inline-block;
  width: auto;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

label, button[type="submit"] {
  margin-top: 2rem;
}

input, textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--black);
}

input:focus, textarea:focus {
  outline: none;
  border-bottom-color: var(--blue);
}

::placeholder {
  color: var(--grey);
}

.error {
  color: rgb(213, 0, 0);
  font-size: 0.8rem;
}

.input-error {
  border-bottom-color: rgb(213, 0, 0);
}

button {
  height: 44px;
  padding: 0 1.5rem;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 2em;
  text-transform: uppercase;
  font-weight: bold;
  transition: all var(--transition-timing);
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-blue);
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  color: var(--blue);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}